.register-page {
    border: 4px solid black;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    background-color: antiquewhite;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Adjust the value as needed */

}

.register-form {
    p {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        align-content: center;
    }
    a { 
        display: flex;
        align-items: center;
        justify-content: center;
        /* align-content: center; */
        /* text-align: center; */

        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        border-radius: 20px;
        border: 2px solid black;
        width: 150px;
        height: 35px;
        background-color: green;
        color: white;
        padding: 2px;
        margin: 2px;
    }
    h1 {
        font-weight: bold;
        font-style: italic;
        text-decoration: underline;
        font-size: 35px;
    }
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    input {
        padding: 15px;
        border-radius: 20px;
        font-size: 18px;
        font-weight: 600;
        font-style: italic;
        &::placeholder {
            color: rgb(175, 175, 175);
        }
    }
    button {
        border-radius: 20px;
        width: 150px;
        padding-top: 10px;
        margin-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        height: 50px;
        cursor: pointer;
        background-color: green;
        color: white;
        font-style: italic;
        font-weight: 600;
        font-size: 18px;
    }
    button:hover {
        background-color: white;
        color: green;
    }
    a:hover {
        background-color: white;
        color: green;
    }
}